@if (working){
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if(error) {
  Back End Down<BR>
  <p>npm start in VS code EDA2</p>
  }
  
  @for(item of jsonarray;track item.id){
      
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Reports">
          <!-- <app-item [item]="item"></app-item> -->
          <app-item [item]="item"></app-item>
        </mat-tab>
      </mat-tab-group>
  

              
        
  } 
  
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    
    
  </mat-tab-group>
  
  
  <!-- <form [formGroup]="reportform">
    <mat-card class="add">
        <mat-form-field>
            <input matInput placeholder="note1" type="string" formControlName="s01" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="note2" type="string" formControlName="s02" />
        </mat-form-field>
        <mat-card-actions class="action">
            <button mat-raised-button color='primary' (click)="put(reportform)">Put</button>
            <button mat-raised-button color='primary' (click)="getindex()">Get Index</button>
            
        </mat-card-actions>
    </mat-card>
  </form> -->

  <!-- <formatdate></formatdate> -->
   <app-examples></app-examples>